.panel-container {
    padding: 1%;
    height: 100%;
}

.profile-initial {
   font-size: 1.5em;
}

.profile-name {
    color: #61dafb;
}

.card {
    background-color: #282c34;
    border: 1px white solid;
    overflow: auto;
    height: 75%;
}

.note-option {
    color: #61dafb;
    width: 100%;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.note-option:hover, .note-option:focus, .note-option.active, .open>.dropdown-toggle.note-option {
    color: white;
    background-color: #00b3db;
}